@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  background: var(--colorBgLayout, rgba(245, 245, 245, 1));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  padding: 52px 32px 32px 32px;
  border-radius: 6px 6px;
  background-color: white;
  width: 440px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  &__companyName {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: "Fjalla+One", sans-serif;

    font-size: 17px;
    font-weight: 600;
  }

  &__title {
    max-width: 300px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    &__inputLogin {
      padding: 0 11px 0 11px;
      width: 376px;
      height: 40px;
      box-sizing: border-box;
      border: 1px solid rgba(217, 217, 217, 1);
      border-radius: 8px;

      &::placeholder {
        color: var(--Components-Input-Global-colorTextPlaceholder, rgba(0, 0, 0, 0.25));
        font-family: "Fjalla+One", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: var(--Components-Input-Global-lineHeightLG, 24px);
        background: url("../public/IconLogin.svg") no-repeat;
      }

      &:focus {
        outline: none;
        border: 1px solid rgba(22, 119, 255, 1);
      }
    }

    &__inputPassword {
      padding: 12px 43px 12px 11px;
      font-size: 16px;
      width: 376px;
      height: 40px;
      box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid rgba(217, 217, 217, 1);
      border-radius: 8px;

      &_showPassword {
        position: absolute;
        margin-top: 191px;
        margin-left: 340px;

        cursor: pointer;
        width: 14px;
        height: 14px;
        background: none;
        border: none;
      }

      &::placeholder {
        color: var(--Components-Input-Global-colorTextPlaceholder, rgba(0, 0, 0, 0.25));
        display: flex;
        background: url("../public/IconPassword.svg") no-repeat;
      }
      &:focus {
        outline: none;
        border: 1px solid rgba(22, 119, 255, 1);
      }
    }
    &__button {
      width: 376px;
      height: 40px;
      border-radius: 8px;
      border: 1px solid rgba(217, 217, 217, 1);
      font-family: "Fjalla+One", sans-serif;
      font-size: 16px;
      font-weight: 400;

      &_active {
        background: rgba(22, 119, 255, 1);
        color: white;
        cursor: pointer;
      }

      &_disable {
        color: rgba(82, 80, 80, 0.25);
        background: var(--Components-Button-Global-colorBgContainerDisabled, rgba(0, 0, 0, 0.04));
        pointer-events: none;
        user-select: none;
      }
    }

    &__hidden {
      color: red;
      font-family: "Fjalla+One", sans-serif;
      font-size: 20px;
      font-weight: 400;
      display: none;
    }

    &__showError {
      color: red;
      font-family: "Fjalla+One", sans-serif;
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.auntification {
  padding: 52px 32px 32px 32px;
  border-radius: 6px 6px;
  background-color: white;
  width: 440px;

  &__companyName {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: "Fjalla+One", sans-serif;

    font-size: 17px;
    font-weight: 600;
  }

  &__title {
    margin-top: 24px;

    font-family: "Fjalla+One", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  &__text {
    font-family: "Fjalla+One", sans-serif;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: var(--Typography-LineHeight-lineHeightLG, 24px);
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    &__inputsBox {
      display: flex;
      gap: 12px;
    }

    &__input {
      width: 40px;
      height: 60px;
      padding: 0 11px 0 11px;
      border-radius: 8px;
      border: 1px solid var(--Components-Input-Global-colorBorder, rgba(217, 217, 217, 1));
      &_error {
        border: 2px solid red;
      }
    }
    &__button {
      margin: 12px auto 0 auto;
      display: block;
      width: 376px;
      height: 40px;
      border: none;
      border-radius: 8px;
      /* Component/Button/primaryShadow */
      box-shadow: 0px var(--Components-Button-Global-controlOutlineWidth, 2px) 0px 0px var(--Components-Button-Global-controlOutline, rgba(5, 145, 255, 0.1));
      background: var(--Components-Button-Global-colorPrimary, rgba(22, 119, 255, 1));
      font-size: 16px;
      font-weight: 400;
      font-family: "Fjalla+One", sans-serif;
      color: white;

      &_hidden {
        display: none;
      }

      &_error {
        color: rgba(82, 80, 80, 0.25);
        background: var(--Components-Button-Global-colorBgContainerDisabled, rgba(0, 0, 0, 0.04));
        pointer-events: none;
        user-select: none;
      }
    }

    &__error {
      margin-top: 10px;
      color: red;
      text-align: start;
      &_hidden {
        display: none;
      }
    }
  }

  &__sendCode {
    margin: 12px auto 0 auto;
    display: block;
    width: 376px;
    height: 40px;
    border: none;
    border-radius: 8px;
    /* Component/Button/primaryShadow */
    box-shadow: 0px var(--Components-Button-Global-controlOutlineWidth, 2px) 0px 0px var(--Components-Button-Global-controlOutline, rgba(5, 145, 255, 0.1));
    background: var(--Components-Button-Global-colorPrimary, rgba(22, 119, 255, 1));
    font-size: 16px;
    font-weight: 400;
    font-family: "Fjalla+One", sans-serif;
    color: white;
    &_hidden {
      display: none;
    }
  }
}
